.header-profile {
    height: 540px;
    width: 100%;
    padding: 140px 0px 0px 0px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/3px-tile.png');
    background-color: #9feb9b;
}

