.compose-tweets {
    width: 45vw;
    padding: 130px 20px 0px 20px;
    float: right;
}
.tweet {
    padding: 20px;
    margin-top: 5px;
    background: rgb(231,228,218);
    border: 3px rgb(130, 128, 121) solid;
    transition: 0.3s;
}
.container {
    float: right;
}
.tweet:hover {
    box-shadow: 5px 5px rgba(34, 34, 33, 0.2);
    transform: translateY(-2px) translateX(-2px);
}

.tweet-header-container {
    display: flex;
    align-items: center;
}

.tweet-header-element {
    padding: 8px;
}

.tweet-header-icon {
    height: 100px;
}

.tweeter-handle {
    font-size: 15px;
}

.tweet-content {
    margin: 30px;
    font-weight: 600;
}

.header-tweet {
    display: flex;
    justify-content: space-between;
}

.icon-hover {
    color: #2beb21;
    padding: 2px;
}

.icon-hover:hover {
    color: red;
    cursor: pointer;
}

.tweet-footer {
    font-size: small;
    display: flex;
    justify-content: space-between;
}